@import "./variables";

//mixins

@mixin flex($justify, $align) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}