@media screen and (max-width: 425px) {
  .features .feature {
    padding: 0 2rem !important;
    margin-bottom: 3rem !important;
  }
  .features .feature .f-img {
    margin-bottom: 0.5rem !important;
  }
}

@media screen and (max-width: 600px) {
  header {
    background-image: url("../images/bg-curvy-mobile.svg") !important;
    padding-bottom: 3rem !important;
  }
  header nav .nav-brand img {
    max-width: 80% !important;
    width: 100% !important;
  }
  header nav .nav-bar .nav-item {
    margin-left: 1em !important;
  }
  header .intro-section {
    padding-bottom: 0rem !important;
  }
  header .intro-section h1 {
    font-size: 2rem !important;
    margin-bottom: 1.5rem;
    line-height: 1.3;
  }
  .features {
    padding-top: 10rem !important;
  }
  .contact-box {
    padding: 1rem !important;
    width: 100% !important;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-shadow: 1px 2px 5px #202a3c;
            box-shadow: 1px 2px 5px #202a3c;
  }
  .contact-box h3 {
    margin: 0;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .contact-box p {
    margin-bottom: 2rem;
  }
  .contact-box .form-container input {
    width: 70%;
    margin-right: 2rem;
    height: 60px;
    padding: 10px 20px;
    font-size: 1rem;
  }
  .contact-box .form-container button {
    font-size: 1rem;
    padding: .5rem 2rem;
    height: 60px;
    width: auto;
  }
  .about .right .about-img {
    padding-bottom: 5rem !important;
  }
  .about .right .about-img img {
    max-width: 100%;
  }
  .about .left h2 {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 768px) {
  .about {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
  .testamonials {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
  .testamonials .testamonial {
    margin-bottom: 2rem;
  }
  .contact-box {
    padding: 2rem 3rem !important;
  }
  .form-container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .form-container input {
    height: 50px !important;
    width: 100% !important;
    margin-bottom: 1.5rem;
  }
  .form-container button {
    font-size: 1.1rem !important;
    height: 50px !important;
  }
  .info {
    padding-bottom: 1rem !important;
  }
  .info .nav-brand {
    margin-top: 2rem;
  }
  .info-section {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
  .info-section .social-media-stack ul {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .info-section .desc {
    margin-bottom: 2rem;
  }
  .info-section .contact-details {
    margin-bottom: 2rem;
  }
  .info-section .links {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .features {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
  .testamonials {
    -webkit-column-gap: 2rem !important;
            column-gap: 2rem !important;
  }
  .test-pro__img img {
    width: 40px !important;
    height: 40px !important;
  }
  .name {
    margin: 0;
    font-size: .9rem !important;
  }
  span {
    font-size: 0.7rem !important;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  opacity: 0.7;
}

.container {
  width: 90%;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
}

.bg-dark {
  background-color: #181f2a;
}

header {
  background-color: #1c2431;
  color: white;
  font-family: 'Raleway', sans-serif;
  background-image: url("../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  padding-bottom: 8rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
  margin-bottom: 1.5em;
  padding-top: 2em;
}

header nav .nav-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
}

@media screen and (max-width: 375px) {
  header nav .nav-brand {
    width: 40% !important;
  }
}

header nav .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
  padding: 0;
}

header nav .nav-bar .nav-item {
  margin-left: 4em;
}

@media screen and (max-width: 375px) {
  header nav .nav-bar .nav-item {
    margin-left: 1em !important;
    font-size: .9rem;
  }
}

header .intro-section {
  text-align: center;
  padding-bottom: 4em;
}

header .intro-section .image img {
  max-width: 600px;
  width: 100%;
  height: auto;
}

header .intro-section h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  line-height: 1.3;
}

header .intro-section p {
  margin-bottom: 1.5em;
  line-height: 1.5;
}

header .intro-section button {
  margin-bottom: 1em;
  outline: none;
  font-size: 1rem;
  width: 200px;
  padding: 1em 2em;
  border-radius: 100px;
  border: none;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  color: white;
  cursor: pointer;
}

main .features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding-bottom: 10rem;
}

main .features .feature {
  text-align: center;
  color: white;
  padding: 0 7.5rem;
  margin-bottom: 5rem;
}

main .features .feature .f-img {
  margin-bottom: 0.5rem;
}

main .about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding-bottom: 10rem;
}

main .about .right .about-img img {
  max-width: 100%;
}

main .about .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .about .left .content {
  color: white;
  padding: 0 2rem;
}

main .about .left .content h2 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

main .about .left .content p {
  margin-bottom: 1rem;
}

main .about .left .content a {
  color: #65e2d9;
  border-bottom: 2px solid #65e2d9;
}

main .about .left .content a span img {
  vertical-align: middle;
}

.testamonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
  color: white;
  padding-bottom: 20rem;
  position: relative;
  z-index: 1;
}

.testamonials .quotes {
  position: absolute;
  z-index: 2;
  top: -35px;
  left: -10px;
}

.testamonials .testamonial {
  background-color: #202a3c;
  padding: 2rem 2rem 1.5rem 2rem;
  z-index: 3;
}

.testamonials .testamonial .test-content {
  margin-bottom: 1.5rem;
}

.testamonials .testamonial .test-prof {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
}

.testamonials .testamonial .test-prof .test-pro__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testamonials .testamonial .test-prof .test-pro__img img {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.testamonials .testamonial .test-prof .pro-desc {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testamonials .testamonial .test-prof .pro-desc .name {
  margin: 0;
  font-size: 1rem;
}

.testamonials .testamonial .test-prof .pro-desc span {
  font-size: 0.9rem;
}

footer {
  background-color: #0b1523;
}

footer .footer {
  position: relative;
}

footer .footer .contact-box {
  background-color: #1c2431;
  color: white;
  padding: 2rem 4rem;
  text-align: center;
  position: absolute;
  width: 70%;
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 1px 2px 5px #202a3c;
          box-shadow: 1px 2px 5px #202a3c;
}

@media screen and (max-width: 1024px) {
  footer .footer .contact-box {
    width: 90% !important;
  }
}

footer .footer .contact-box h3 {
  margin: 0;
  font-size: 2rem;
  margin-bottom: 2rem;
}

footer .footer .contact-box p {
  margin-bottom: 2rem;
}

footer .footer .contact-box .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer .contact-box .form-container input {
  width: 70%;
  margin-right: 2rem;
  height: 60px;
  border-radius: 100px;
  outline: none;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
}

footer .footer .contact-box .form-container button {
  outline: none;
  font-size: 1rem;
  padding: .5rem 2rem;
  height: 60px;
  border-radius: 100px;
  border: none;
  font-weight: 700;
  width: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  footer .footer .contact-box .form-container button {
    padding: .2rem 1rem !important;
  }
}

footer .info {
  padding-top: 15rem;
  padding-bottom: 5rem;
}

footer .info .nav-brand {
  margin-bottom: 2rem;
}

footer .info .info-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  color: white;
}

@media screen and (max-width: 1190px) {
  footer .info .info-section {
    -webkit-column-gap: 1rem !important;
            column-gap: 1rem !important;
  }
}

footer .info .info-section .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

footer .info .info-section .contact-details li {
  margin-bottom: 1rem;
}

footer .info .info-section .contact-details li i {
  padding-right: 1rem;
}

footer .info .info-section .links li {
  margin-bottom: 1rem;
}

footer .info .info-section .social-media-stack ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

@media screen and (max-width: 1190px) {
  footer .info .info-section .social-media-stack ul {
    gap: 1rem !important;
  }
}

footer .info .info-section .social-media-stack ul li {
  border: 1px solid white;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
}

.attribution {
  padding: 2rem 0;
  color: white !important;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */